.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41,41,55);
    height: 150px;
}

h1{
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    color:red;
}